### Assignment-04 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

In [1]:
list=['Jannat', 'Tanveer']
print(list)

['Jannat', 'Tanveer']

Create an empty list and print it.

In [3]:
empty_list=[]
print(empty_list)

[]

In [4]:
list=[]
print(list)

[]

Create a list of your favorite colors and print it.

In [5]:
list=['pink','green','purple']
print(list)

['pink', 'green', 'purple']

Create a list that includes a mix of data types (integers, strings, floats).

In [6]:
list=[23,'Jannat',23.1,[]]
print(list)

[23, 'Jannat', 23.1, []]

Access the first element of a list.

In [7]:
list=[55,77,66,44]
list[0]

55

Access the last element of a list.

In [8]:
list=[0,1,2,3,6,3,7,9]
list[-1]

9

 Access the second and third elements of a list.

In [9]:
list=['o','f','k','j','y','e']
list[1:3]

['f', 'k']


Slice a list to extract the first three elements.

In [12]:
list=[8,9.8,'info',33,44,9,10,2.2]
list[:3]

[8, 9.8, 'info']

Slice a list to extract the last three elements.

In [14]:
list=[8,9.8,'info',33,44,9,10,2.2]
list[-3:]

[9, 10, 2.2]

Slice a list to get every second element.

In [15]:
list=[8,9.8,'info',33,44,9,10,2.2]
list[::2]

[8, 'info', 44, 10]

Reverse a list using slicing.

In [18]:
list=[8,9.8,'info',33,44,9,10,2.2]
list[7::-1]

[2.2, 10, 9, 44, 33, 'info', 9.8, 8]

 Create two lists and concatenate them.

In [19]:
list=["tu na jane"]
list1=["it's an assignment"]
list+list1

['tu na jane', "it's an assignment"]


Repeat a list multiple times using the repetition operator

In [21]:
listR=['jannat is lovely']
rv=listR*3
print(rv)

['jannat is lovely', 'jannat is lovely', 'jannat is lovely']

Add a new element to the end of a list using the append() method.

In [25]:
list=['google scholar']
list.append('pubmed')
list

['google scholar', 'pubmed']


Extend a list with elements from another list using the extend() method.

In [28]:
list=['google scholar']
list.extend(['pubmed', 'sci hub', 'ncbi', 'bioinformatics'])
list

['google scholar', 'pubmed', 'sci hub', 'ncbi', 'bioinformatics']

Insert an element at a specific index in a list using the insert() method.

In [33]:
list=['pubmed', 'sci hub', 'ncbi', 'bioinformatics']
list.insert(1,'technology')
print("After insert: ", list)

After insert:  ['pubmed', 'technology', 'sci hub', 'ncbi', 'bioinformatics']

 Remove the last element from a list using the pop() method.

In [35]:
list=['pubmed', 'sci hub', 'ncbi', 'bioinformatics']
x=list.pop()
print("\nAfter pop(): ", list)

After pop():  ['pubmed', 'sci hub', 'ncbi']

Remove a specific element from a list using the remove() method.

In [39]:
list=['pubmed', 'sci hub', 'ncbi', 'bioinformatics']
x = list.remove('ncbi')
print("After remove(): ", list)

After remove():  ['pubmed', 'sci hub', 'bioinformatics']

Clear all elements from a list.

In [42]:
list=['pubmed', 'sci hub', 'ncbi', 'bioinformatics']
list.clear()
print("\nAfter clear() the list becomes empty: ", list)

After clear() the list becomes empty:  []

Delete an element at a specific index using the del statement.

In [43]:
list=['pubmed', 'sci hub', 'ncbi', 'bioinformatics']
del list[0:1]
list

['sci hub', 'ncbi', 'bioinformatics']

Convert a string to a list of characters and vice-versa.

In [44]:
str='sari umar me joker ja bnaya raya'
rv=str.split()
print(rv)

['sari', 'umar', 'me', 'joker', 'ja', 'bnaya', 'raya']

In [ ]:
Sort a list in ascending order using the sort() method.

In [49]:
list=[3,6,9,2,0,7,5]
rv=list.sort()
print("\nAfter sort() the list becomes ascending: ", list)

After sort() the list becomes ascending:  [0, 2, 3, 5, 6, 7, 9]

In [ ]:

Sort a list in descending order using the sort() method.

In [53]:
list=[3,6,9,2,0,7,5]
rv=list.sort(reverse=True)
print("\nAfter sort() the list becomes descending: ", list)

After sort() the list becomes descending:  [9, 7, 6, 5, 3, 2, 0]

Reverse the order of a list using the reverse() method.

In [60]:
list=[3,6,9,2,0,7,5]
rv=list.reverse()
print("\nAfter sort() the list becomes reverse: ", list)

After sort() the list becomes reverse:  [5, 7, 0, 2, 9, 6, 3]

Check if an element is present in a list using the in operator.

In [64]:
list=['having', 'fun', 'is', 'necessary']
rv = 'fun' in list
rv

True

In [63]:
list=['having fun is necessary']
rv = 'fun' in list
rv

False

Compare two lists to see if they are equal in both value and identity.

In [61]:
x=[4,5,6]
y=[6,5,4]
id(x), id(y),x is y, x==y

(133603880702272, 133602693512896, False, False)

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [129]:
list1 = [1,3,5,[22,33]]
list2 = list1.copy()
shallow_copy = list1.copy()
print('ID of list1:', id(list1))
print('ID of list2:', id(list2))
list2[3][0] = 100
print('list1:', list1)
print('list2:', list2)

ID of list1: 133602696657664
ID of list2: 133602696247616
list1: [1, 3, 5, [100, 33]]
list2: [1, 3, 5, [100, 33]]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [126]:
list1 = [3,5,7,[9,11]]
list2 = copy.deepcopy(list1)
print('ID of list1:', id(list1))
print('ID of list2:', id(list2))
list2[3][1] = 100
print('list1:', list1)
print('list2:', list2)

ID of list1: 133602694266496
ID of list2: 133602694252928
list1: [3, 5, 7, [9, 11]]
list2: [3, 5, 7, [9, 100]]

Pickle and Unpickle a list and display its content.

In [134]:
list =['life', 'is', 'dull']
with open('list.pkl', 'wb') as file:
    pickle.dump(list, file)
print("List has been pickled.")
with open('list.pkl', 'rb') as file:
    loaded_list = pickle.load(file)
print("Unpickled list:", loaded_list)

List has been pickled.
Unpickled list: ['life', 'is', 'dull']