### Assignment-02
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Declare and print a variable with the name "name" containing your name.

In [ ]:
NAME="Jannat Tanveer"
print("name=",NAME)

name= Jannat Tanveer

Create two variables, x and y, and swap their values without using a third variable.

In [ ]:
x=3
y=6
x,y=y,x
print("x=",x)
print("y=",y)

x= 6
y= 3

Calculate the area of a rectangle with length and width stored in variables.

In [ ]:
length=22
width=10
area=length*width
print("area=",area)

area= 220

Create a variable with a long string (multi-line) and print its length.

In [ ]:
multi_line_string="""
                 Biorefineries are indispensable to the circular economy,
                 revolutioninzg numerous kinds of biomass into value-added
                 resources such as fuel, chemical, and material.
                 """
print(len(multi_line_string))

233

Create a variable to store your favorite number and print it.

In [ ]:
fvrt_no=9
print("fvrt_no=",fvrt_no)

fvrt_no= 9

Declare and assign values to multiple variables to represent the sides of a triangle. Calculate and print its perimeter.

In [ ]:
perpedicular=3
base=5
hypotenuse=4
perimeter= perpedicular + base + hypotenuse
print("the perimeter of triangle is=",perimeter)

the perimeter of triangle is= 12

Store the price of an item in one variable and the quantity in another. Calculate and print the total cost.

In [ ]:
price= int(input("enter the number:"))
quantity= int(input("enter the number:"))
total_cost= price * quantity
print("total_cost is=",total_cost)

enter the number:2
enter the number:3
total_cost is= 6

Declare a constant variable for the value of pi (Ï€) and use it to calculate the circumference of a circle with a given radius.

In [ ]:
pi=float(input("enter the number:"))
r=float(input("enter the number:"))
c=2 * pi * r
print(c)

enter the number:3.14
enter the number:2
12.56

Calculate the sum of two numbers, a and b.

In [ ]:
a=16.5
b=16.5
sum=a+b
print(sum)

33.0

Calculate the product of two numbers, a and b.

In [ ]:
a=int(input("enter the number:"))
b=float(input("enter the number:"))
product=a * b
print(product)

enter the number:3
enter the number:3.0
9.0

Calculate the result of dividing a by b (with proper error handling for division by zero).

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
div=a/b
print(div)

enter the number:144
enter the number:12
12.0

Calculate the square of a number x.

In [ ]:
a=int(input("enter the number:"))
sqr=a ** 2
print(sqr)

enter the number:6
36

Calculate the remainder when a is divided by b.

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
remainder=a%b
print(remainder)

enter the number:74
enter the number:5
4

 Calculate the result of dividing 17 by 3 and print the quotient and remainder.

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
remainder=a % b
quotient=a // b
print("quotient=",quotient)
print("remainder=",remainder)

enter the number:63
enter the number:9
quotient= 7
remainder= 0

Calculate the area of a square with a given side length.

In [ ]:
length=5
area=length * length
print("area of square is=",area)

area of square is= 25

Calculate the average of five numbers.

In [ ]:
number1=int(input("enter the number:"))
number2=int(input("enter the number:"))
number3=int(input("enter the number:"))
number4=int(input("enter the number:"))
number5=int(input("enter the number:"))
average=(number1+number2+number3+number4+number5)/5
print(average)

enter the number:3
enter the number:3
enter the number:4
enter the number:2
enter the number:1
2.6

Create a variable with a boolean value and print its opposite value.

In [ ]:
bolean_value=True
def print_opposite(boolean_value):
    print("Opposite value:", not boolean_value)
print_opposite(True)

Opposite value: False

Store your birth year in a variable and calculate your age.

In [ ]:
birth_year=2001
current_year=2024
age=current_year-birth_year
print("age=",age)

age= 23

Create a variable with an integer and convert it to a float.

In [ ]:
int=23
y=float(int)
print(y, type(y))

23.0 <class 'float'>

Create a variable with a float and convert it to an integer.

In [1]:
a=45.0
print(int(a))

45

Create a variable with a string that represents an integer and convert it to an integer.

In [2]:
z="45"
print(int(z))

45

Create a variable with a string that represents a float and convert it to a float.

In [3]:
k="45.0"
print(float(k))

45.0

Create a variable with a number and convert it to a string.

In [ ]:
a=34
y=str(a)
print(y, type(y))

34 <class 'str'>

Calculate the absolute value of a number.

In [ ]:
num=-4
abs_value=abs(num)
print(abs_value)

4

Calculate the square root of a number.

In [ ]:
num=16
sqrt=num ** 0.5
print(sqrt)

4.0

Calculate the value of a raised to the power of b.

In [ ]:
a=3
b=2
value=a ** b
print(value)

9

Round a float to the nearest integer.

In [ ]:
float=3.14
nearest_integer=round(float)
print(nearest_integer)

3

Combine multiple conditions using logical operators and print the result.

In [ ]:
a = 20
b = 30
c = 40
result = (a < b) and (b < c) or not (a == c)
print("Result of (a < b) and (b < c) or not (a == c):", result)

Result of (a < b) and (b < c) or not (a == c): True

Generate a random number between 1 and 100.**(challenging)**

In [ ]:
import random
random_number = random.randint(1, 4)
print("Random number between 1 and 100:", random_number)

Random number between 1 and 100: 2