### Assignment-03 (Strings)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create a string variable with your name and print it.

In [ ]:
string1='Jannat'
print(string1)

Jannat

Define a multiline string that includes line breaks and print it.

In [ ]:
stringS='''
task assigned
by mam
amna to
assess us.
'''
print(stringS)

task assigned
by mam
amna to
assess us.

Access the first character of a string.

In [ ]:
str='I wish I were a queen.'
print('str[0]=',str[0])

str[0]= I

Access the last character of a string.

In [ ]:
str='hilarious.'
print('str[8]=',str[8])

str[8]= s

Access the second to the fifth character of a string.

In [ ]:
strJ='mar dala'
print(strJ[2:6])

r da

In [ ]:
strF='government'
print(strF[2:6])

vern

Attempt to change a character within an existing string and explain the result.

In [ ]:
strR='oggy'
newstring=strR.replace('o','O')
print(newstring)

Oggy


Slice a string to obtain the first 3 characters.

In [ ]:
strA='confidential'
print(strA[0:4])

conf

Slice a string to obtain the last 4 characters.

In [ ]:
strA='confidential'
print(strA[8:])

tial

Slice a string to get every second character.

In [ ]:
strB='ladybug'
print(strB[::2])

ldbg

Reverse a string using slicing.

In [ ]:
strC='HUNZA'
print(strC[::-1])

AZNUH

Create two string variables and concatenate them.

In [ ]:
strJ='MASHA'
strK='BEAR'
print(strJ+strK)

MASHABEAR

Concatenate a string with a number (convert the number to a string first).

In [ ]:
num = 8
strW = str(num)
print("The number as a string:", strW)
print("Type of strW:", type(strW))
str='happy'
print(strW+str)

The number as a string: 8
Type of strW: <class 'str'>
8happy

Generate a string that repeats "abc" 10 times.

In [ ]:
str='abc'
print('str*10=',str*10)

str*10= abcabcabcabcabcabcabcabcabcabc

Create a string containing a repeating pattern of your choice.

In [ ]:
str='idiot'
print('str*3=',str*3)

str*3= idiotidiotidiot

Convert a string to lowercase using the lower() method.

In [ ]:
str='VALLEY'
rv=str.lower()
print('str.lower()=',rv)

str.lower()= valley


Convert a string to uppercase using the upper() method.

In [ ]:
str='valley'
rv=str.upper()
print('str.upper()=',rv)

str.upper()= VALLEY

Remove leading and trailing whitespace from a string using the strip() method.

In [ ]:
str='     beautiful         '
rv=str.strip()
print(rv)

beautiful

Check if a string starts with a specific prefix using the startswith() method.

In [ ]:
str='BIOREFINERY IN CIRCULAR ECONOMY'
rv=str.startswith('biorefinery')
print(rv)

False

Split a string into a list of words using the split() method.

In [ ]:
str='it ends with us'
rv=str.split(sep='n')
print(rv)

['it e', 'ds with us']

Join a list of words into a single string using the join() method.

In [ ]:
str=['l', 'i', 'f', 'e']
mystr=''.join(str)
print(mystr)

life

In [ ]:
str='life', ' is',' what',' you',' make',' it'
mystr=''.join(str)
print(mystr)

life is what you make it