### Assignment-05 (Tuple)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty tuple and print it.

In [2]:
t1=("Jannat Tanveer")
print(t1)

Jannat Tanveer

    Create a tuple of your favorite fruits and print it.

In [3]:
t2=("Mango","Banana","Apple")
print(t2)

('Mango', 'Banana', 'Apple')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [4]:
t3=(1,2,3,"Jannat",4.5)
print(t3)

(1, 2, 3, 'Jannat', 4.5)

  Access the first element of a tuple.

In [5]:
t4=(1,2,3,"Jannat",4.5)
print(t4[0])

1

    Access the last element of a tuple.

In [6]:
t5=(1,2,3,"Jannat",4.5)
print(t5[-1])

4.5

Access the second and third elements of a tuple.

In [7]:
t6=(1,2,3,"Jannat",4.5)
print(t6[1:3])

(2, 3)


    Slice a tuple to extract the first three elements.

In [8]:
t7=(1,2,3,"Jannat",4.5)
print(t7[0:3])

(1, 2, 3)

Slice a tuple to extract the last three elements.

In [11]:
t8=(1,2,3,"Jannat",4.5)
print(t8[2:])

(3, 'Jannat', 4.5)

   Slice a tuple to get every second element.

In [12]:
t9=(1,2,3,"Jannat",4.5)
print(t9[::2])

(1, 3, 4.5)

    Reverse a tuple using slicing.

In [13]:
t10=(1,2,3,"Jannat",4.5)
print(t10[::-1])

(4.5, 'Jannat', 3, 2, 1)

Create two tuples and concatenate them.

In [14]:
t11=(1,2,3)
t12=("Jannat","Tanveer")
t13=t11+t12
print(t13)

(1, 2, 3, 'Jannat', 'Tanveer')

    Repeat a tuple multiple times using the repetition operator.

In [15]:
t14=(1,2,3)
t15=t14*3
print(t15)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

Find the index of a specific element in a tuple using the index() method.

In [16]:
t15=(1,2,3,"Jannat","Tanveer")
print(t15.index("Jannat"))

3

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [18]:
t16=(1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1)
print(t16.count(1))

24

Sort a tuple of numbers in ascending order.

In [20]:
t17=(8,4,2,9,0,7,3,5)
print(sorted(t17))

[0, 2, 3, 4, 5, 7, 8, 9]

    Sort a tuple of strings in alphabetical order.

In [29]:
t18=("wer","asd","zxc","qwe")
print(sorted(t18))

['asd', 'qwe', 'wer', 'zxc']

Sort a tuple of tuples based on the second element of each inner tuple.

In [36]:
t19= ((1, 3), (2, 1), (4, 2), (3, 4))
t20 = sorted(t19, key=lambda x: x[1])
print(t20)

[(2, 1), (4, 2), (1, 3), (3, 4)]

Compare two tuples to see if they are equal in both value and identity.

In [40]:
t21=(1,2,3)
t22=(1,3,2)
print(t21==t22)
print(t21 is t22)

False
False

In [41]:
t21=(1,2,3)
t22=(1,2,3)
print(t21==t22)
print(t21 is t22)

True
False

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [46]:
original_tuple = (1, 2, [3, 4])
copied_tuple = original_tuple[:]
print("Before modification:")
print("Original tuple:", original_tuple)
print("Copied tuple:", copied_tuple)
original_tuple[2].append(5)
print("After modification:")
print("Original tuple:", original_tuple)
print("Copied tuple:", copied_tuple)

Before modification:
Original tuple: (1, 2, [3, 4])
Copied tuple: (1, 2, [3, 4])
After modification:
Original tuple: (1, 2, [3, 4, 5])
Copied tuple: (1, 2, [3, 4, 5])

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

In [49]:
original_tuple = (1, 2, [3, 4])
deep_copied_tuple = copy.deepcopy(original_tuple)
print("Before modification:")
print("Original tuple:", original_tuple)
print("deep_copied tuple:", deep_copied_tuple)
original_tuple[2].append(5)
print("After modification:")
print("Original tuple:", original_tuple)
print("deep_copied tuple:", deep_copied_tuple)

Before modification:
Original tuple: (1, 2, [3, 4])
deep_copied tuple: (1, 2, [3, 4])
After modification:
Original tuple: (1, 2, [3, 4, 5])
deep_copied tuple: (1, 2, [3, 4])

    Pickle a tuple and save it to a file.

In [58]:
my_tuple = (1, 2, 3, "Hello", [4, 5, 6])
with open('my_tuple.pkl', 'wb') as file:
    pickle.dump(my_tuple, file)
print("Tuple has been pickled and saved to 'my_tuple.pkl'.")

Tuple has been pickled and saved to 'my_tuple.pkl'.

    Unpickle a tuple from a file and display its content.

In [59]:
with open('my_tuple.pkl', 'rb') as file:
    loaded_tuple = pickle.load(file)
print("Loaded tuple:", loaded_tuple)

Loaded tuple: (1, 2, 3, 'Hello', [4, 5, 6])