### Assignment-05 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [1]:
s1={}
print(s1)

{}

  Create a set of your favorite colors and print it.

In [2]:
s2={"red","green","blue"}
print(s2)

{'blue', 'red', 'green'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [3]:
s3={1,"hello",3.14,5}
print(s3)

{1, 3.14, 5, 'hello'}

Access the elements of a set using a loop and print each element.

In [4]:
s4={1,"hello",3.14,5}
for i in s4:
    print(i)

1
3.14
5
hello

add a new element to a set using the add() method.

In [5]:
s5= {1, 2, 3}
s5.add(4)
print(s5)

{1, 2, 3, 4}

Add multiple elements to a set using the update() method.

In [6]:
s6= {1,2,3}
s6.update({4,5})
s6

{1, 2, 3, 4, 5}

Remove and return an arbitrary element from a set using the pop() method.

In [7]:
s7= {1,2,3}
s7.pop()
s7

{2, 3}

Remove a specific element from a set using the remove() method.

In [14]:
s8= {1,2,3}
s8.remove(3)
s8

{1, 2}

Remove a specific element from a set using the discard() method.

In [15]:
s9= {1,2,3}
s9.discard(1)
s9

{2, 3}

Convert a string to a set of unique characters.

In [16]:
s10= "jannat"
s11= set(s10)
s11

{'a', 'j', 'n', 't'}

Convert a set of characters to a string.

In [18]:
s12= {"j","a","n","n","a","t"}
s13= "".join(s12)
s13

'ajnt'

Use the clear() method to remove all elements from a set.

In [19]:
set14={1,2,3,4,5,6,7,8,9}
set14.clear()
set14

set()

Use the copy() method to create a shallow copy of a set.

In [20]:
s15= {1,2,3}
s16= s15.copy()
s16

{1, 2, 3}

Use the difference() method to find the difference between two sets.

In [21]:
s17= {4,5,6,7}
s18= {4,7,1,0}
s19= s17-s18
s19

{5, 6}

Create two sets and find their union.

In [22]:
s20= {4,6,2,9}
s21= {7,0,2,6}
s23= s20 | s21
s23

{0, 2, 4, 6, 7, 9}

    Create two sets and find their intersection.

In [23]:
s24= {1,2,3,4,5}
s25= {4,5,6,7,8}
s26= s24 & s25
s26

{4, 5}

 Create two sets and find their difference.

In [24]:
s27= {1,2,3,4,5}
s28= {4,5,6,7,8}
s29= s27-s28
s29

{1, 2, 3}

    Create two sets and find their symmetric difference.

In [25]:
s30= {1,2,3,4,5}
s31= {4,5,6,7,8}
s32= s30^s31
s32

{1, 2, 3, 6, 7, 8}

Check if one set is a subset of another.

In [28]:
s33= {1,2,3,4,5,6,7,8,9,0}
s34= {1,2,3,4,5}
s33.issubset(s34)

False

    Check if one set is a superset of another.

In [29]:
s35= {1,2,4,5,6,3,7}
s36= {1,2,3,4,5}
s35.issuperset(s36)

True

    Check if two sets are disjoint (have no common elements).

In [30]:
s37= {1,2,3,4,5}
s38= {6,7,8,9,10}
s37.isdisjoint(s38)

True