### Assignment-05 (DICTIONARY)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty dictionary and print it.

In [1]:
d1={}
d1

{}

    Create a dictionary representing a person with keys such as 'name', 'age', and 'city'.

In [2]:
d2= {
    'name': 'Jannat',
    'age': 23,
    'city': 'Lahore'
}
d2

{'name': 'Jannat', 'age': 23, 'city': 'Lahore'}

    Create a dictionary that includes keys with different data types (strings, integers).

In [3]:
d3 = {
    "name": "Alice",
    42: "The answer",
    (1, 2): [3, 4, 5],
    True: "Yes"
}
d3

{'name': 'Alice', 42: 'The answer', (1, 2): [3, 4, 5], True: 'Yes'}

Access and print the value associated with a specific key.

In [4]:

d4 = {
    "name": "Jannat",
    42: "The answer",
    (1, 2): [3, 4, 5],
    True: "Yes",
}
print(d4["name"])
print(d4[42])
print(d4[(1, 2)])
print(d4[True])

Jannat
The answer
[3, 4, 5]
Yes

    Use the get() method to access a value, providing a default value if the key is not present.

In [5]:
d5= {
    'name' : 'Jannat',
    'age' : 23,
    'city' : 'Lahore'
    }
name= d5.get('name')
print(name)

Jannat

    Iterate through the keys of a dictionary and print each key.

In [6]:
alphabets = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
    'e': 5
}
for key in alphabets.keys():
    print(key)

a
b
c
d
e

In [7]:
alphabets = {
    'a' : 1,
    'b' : 2,
    'c' : 3,
    'd' : 4
}
for key in alphabets:
    print(key)

a
b
c
d

Add a new key-value pair to a dictionary.

In [8]:
d6= {
    'name' : 'Jannat',
    'age' : 23,
    'city' : 'Lahore'
}
d6['county'] = 'Pakistan'
d6

{'name': 'Jannat', 'age': 23, 'city': 'Lahore', 'county': 'Pakistan'}

Modify the value associated with an existing key.

In [9]:
d7= {
    'name' : 'Jannat',
    'age' : 23,
    'city' : 'Lahore'
}
d7['city'] = 'Gujrat'
d7

{'name': 'Jannat', 'age': 23, 'city': 'Gujrat'}

Remove a specific key-value pair from a dictionary using the pop() method.

In [10]:
d8= {
    'name' : 'Jannat',
    'age' : 23,
    'city' : 'Lahore'
}
d8.pop('name')

'Jannat'

In [11]:
d8

{'age': 23, 'city': 'Lahore'}

    Remove a specific key-value pair from a dictionary using the del statement.

In [12]:
d9= {
    'name' : 'Jannat',
    'age' : 23,
    'city' : 'Lahore'
}
del d9['city']
d9

{'name': 'Jannat', 'age': 23}

Convert a dictionary to a list of keys.

In [13]:
d10= {'name' : 'JANNAT', 'AGE':23,'CITY' : 'lahore'}
list(d10.keys())

['name', 'AGE', 'CITY']

    Convert a dictionary to a list of values.

In [14]:
d11= {'name' : 'JANNAT', 'AGE':23,'CITY' : 'lahore'}
list(d11.values())

['JANNAT', 23, 'lahore']

    Convert a list of tuples to a dictionary.

In [15]:
tuples = [('name', 'Jannat'), ('age', 23), ('city', 'Lahore')]
dict(tuples)

{'name': 'Jannat', 'age': 23, 'city': 'Lahore'}

Use the keys() method to get a list of keys in a dictionary.

In [16]:
d12 = {
    'name': 'Jannat',
    'age': 23,
    'city': 'Lahore'
}
d12.keys()

dict_keys(['name', 'age', 'city'])

In [17]:
list(d12.keys())

['name', 'age', 'city']


    Use the values() method to get a list of values in a dictionary.

In [18]:
d13 = {
    'name': 'Jannat',
    'age': 23,
    'city': 'Lahore'
}
d13.values()

dict_values(['Jannat', 23, 'Lahore'])

In [19]:
list(d13.values())

['Jannat', 23, 'Lahore']

    Use the items() method to get a list of key-value pairs in a dictionary.

In [20]:
d14 = {
    'name': 'Jannat',
    'age': 23,
    'city': 'Lahore'
}
d14.items()

dict_items([('name', 'Jannat'), ('age', 23), ('city', 'Lahore')])

Check if a key is present in a dictionary using the in operator.

In [21]:
d15 = {
    'name': 'Jannat',
    'age': 23,
    'city': 'Lahore'
}
for key in d15:
    if key == 'name':
        print('present')

present

    Use the setdefault() method to add a key with a default value if it doesn't exist.

In [22]:
d16 = {
    'name': 'Jannat',
    'age': 23,
    'city': 'Lahore'
}
d16.setdefault('country', 'Pakistan')
#d16.setdefault('city', 'gujrat')
d16

{'name': 'Jannat', 'age': 23, 'city': 'Lahore', 'country': 'Pakistan'}

    Merge two dictionaries using the update() method.

In [23]:
d17 = {
    'name': 'Jannat',
    'age': 23,
    'city': 'Lahore'
}
d18 = {
    'marks': 10,
    'grade': 'A',
    'uni': 'PU',
    'course': 'python'
}
d17.update(d18)
d17

{'name': 'Jannat',
 'age': 23,
 'city': 'Lahore',
 'marks': 10,
 'grade': 'A',
 'uni': 'PU',
 'course': 'python'}

    Use the clear() method to remove all elements from a dictionary.

In [24]:
d19 = {
    'name': 'Jannat',
    'age': 23,
    'city': 'Lahore'
}
d19.clear()
d19

{}